<html>
    <head>
        <title>DEP Dash</title>
        <link href='css/dash.css' rel='stylesheet' type='text/css'>
        <link href="css/bootstrap.min.css" rel='stylesheet' type='text/css'>
    </head>
    <body>
         <div id='outer' style='width:100%'>
            <div id='inner'>
                <img src="images/dash.png"/>
                <p>Screwed up!</p>
            </div>
         </div>
    </body>
</html>